* {
    background-color: rgb(163, 108, 108);
    cursor: url(../images/cursor.png), pointer;
}

body {
    text-align: justify;
    color: black;
    border: 3.5px double white;
    border-style: groove;
    margin: 10px;
    scroll-behavior: smooth;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
h1 {
    color: rgba(0, 0, 0, 0.737);
    font-style: italic;
    text-align: center;
}

h2 {
    text-align: center;
    color: wheat;
}

h3 {
    color: wheat;
    text-align: justify;
}

#left {
    text-align: left;
}

[src] {
    margin: 5px;
    border-style: solid;
}

